---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post: CollectionEntry<"blog">) => ({
        params: { slug: post.id },
        props: { post },
    }));
}
interface Props {
    post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content, headings } = await render(post);
---

<div class="relative">
    <meta charset="UTF-8" />
    <aside class="hidden xl:block fixed left-6 top-24 w-64">
        <p class="mb-4 text-sm font-semibold uppercase opacity-60">
            Table of Contents
        </p>

        <ul class="space-y-2 border-l border-border pl-4">
            {
                headings.map((heading) => (
                    <li class={heading.depth > 2 ? "ml-4" : ""}>
                        <a
                            href={`#${heading.slug}`}
                            class="block text-sm font-mono
                     text-muted-foreground
                     hover:text-foreground
                     transition-colors"
                        >
                            {heading.text}
                        </a>
                    </li>
                ))
            }
        </ul>
    </aside>
    <Layout title={post.data.title}>
        <article>
            <h1 class="text-3xl font-bold">{post.data.title}</h1>
            <time class="block mt-1 text-sm opacity-60">
                {post.data.pubDate}
            </time>

            <div class="prose dark:prose-invert max-w-none pt-6">
                <Content />
            </div>
        </article>
    </Layout>
</div>
